/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.top-profile-row {
  margin-left: 100px;
  margin-right: 100px;

  margin-top: 60px;
}

.top-profile-l {
    background: white;
    border: 1px solid darkgray;
    border: none !important;
    height: 80vh;

    opacity: 0.9 !important;
}

.top-profile-r {
    /*background: white;*/
    border: 1px solid darkgray;
    border: none !important;
    height: 80vh;

    /*opacity: 0.9 !important;*/
    position: relative;
}
.top-profile-r:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  content: "";
  background: rgba(6, 12, 34, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

}

/*=============== Special opecity ================================*/
.top-profile-bottom-buttons {
  margin-left: 100px;
  margin-right: 100px;


  /*background: white;*/
  /*opacity: 0.5 !important;*/
  position: relative;


  /*padding: 7px;*/
  border-radius: 3px;
}
.row.top-profile-bottom-buttons:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background: white;
  opacity: 0.5 !important;  
}
.top-profile-bottom-buttons .clx {
  z-index: 1;
}
.top-profile-bottom-buttons .crx {
  z-index: 1;
}
.top-profile-bottom-buttons .clx .me-toolbars {
  /*background: white;*/
  z-index: 1;
}
.top-profile-bottom-buttons .clx .me-toolbars .btn:hover {
    color: #fff;
    background-color: #0d6efd !important;
    border-color: #0d6efd;
}
/*=============== Special opecity ================================*/



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.me-contact-list li {
  border: none;
}

#hero p {
  color: inherit; 
  font-weight: 700;
  font-size: inherit; 
}

.top-profile-l .me-contact-list li i {
  color: #2f4c7c;
}

.top-profile-r p i {
    font-size: 10px;
    position: absolute;
    margin-top: 7px;
    color: #2f4c7c;
}

#hero .top-profile-r p {
    font-size: 20px;
}
.top-profile-r p span {
  margin-left: 20px;
}

.top-profile-r .skills-keyword {
  color: #2f4c7c;
  color: #f82249;
}


.marquee {
  background-color: #f82249;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.marquee p:hover{
  animation-play-state: paused;
}




/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}


/*Apply styles starting from medium devices and up to extra large devices*/
@media (min-width: 768px) and (max-width: 1299.98px) {
  #me-main-profile-pic {
    height: 230px;
  }
}

/*Apply styles starting from medium devices and up to extra large devices*/
@media (min-width: 1300px) and (max-width: 1599.98px) {
  #me-main-profile-pic {
    height: 300px;
  }
}
