/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.top-profile-row {
  margin-left: 100px;
  margin-right: 100px;

  margin-top: 60px;
}
/*----- apply with media queries ----*/
@media (min-width: 300px) {
  .top-profile-row {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 45px;
  }
}
@media (min-width: 768px) {
  .top-profile-row {
    margin-left: 100px;
    margin-right: 100px;

    margin-top: 60px;
  }
}



.top-profile-l {
    /*background: white;*/
    border: 1px solid darkgray;
    border: none !important;
    height: 80vh;

    /*opacity: 0.9 !important;*/
    position: relative;
}
@media (min-width: 300px) {
  .top-profile-l {
      border: 1px solid darkgray;
      border: none !important;
      height: 100%;
      position: relative;
  }
}
@media (min-width: 768px) {
  .top-profile-l {
      border: 1px solid darkgray;
      border: none !important;
      height: 80vh;
      position: relative;
  }
}


.top-profile-l:after {
    content: "";
    background: white;
    position: absolute;
    opacity: 0.9 !important;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.top-profile-l > * {
    z-index: 1;
}
.top-profile-l ul.me-contact-list {
    --bs-list-group-bg: none;
}


.top-profile-r {
    /*background: white;*/
    border: 1px solid darkgray;
    border: none !important;
    height: 80vh;

    /*opacity: 0.9 !important;*/
    position: relative;
}
.top-profile-r:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  content: "";
  background: rgba(6, 12, 34, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

}

/*=============== Special opecity ================================*/
.top-profile-bottom-buttons {
  margin-left: 100px;
  margin-right: 100px;


  /*background: white;*/
  /*opacity: 0.5 !important;*/
  position: relative;


  /*padding: 7px;*/
  border-radius: 3px;
}
@media (min-width: 300px) {
  .top-profile-bottom-buttons {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .top-profile-bottom-buttons {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    border-radius: 3px;
  }
}


.row.top-profile-bottom-buttons:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background: white;
  opacity: 0.5 !important;  
}
.top-profile-bottom-buttons .clx {
  z-index: 1;
}
.top-profile-bottom-buttons .crx {
  z-index: 1;
}
.top-profile-bottom-buttons .clx .me-toolbars {
  /*background: white;*/
  z-index: 1;
}
.top-profile-bottom-buttons .clx .me-toolbars .btn:hover {
    color: #fff;
    background-color: #0d6efd !important;
    border-color: #0d6efd;
}
/*=============== Special opecity ================================*/



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.me-contact-list li {
  border: none;
}

#hero p {
  color: inherit; 
  font-weight: 700;
  font-size: inherit; 
}

.top-profile-l .me-contact-list li i {
  color: #2f4c7c;
}

.top-profile-r p i {
    font-size: 10px;
    position: absolute;
    margin-top: 7px;
    color: #2f4c7c;
}

#hero .top-profile-r p {
    font-size: 20px;
}
.top-profile-r p span {
  margin-left: 20px;
}

.top-profile-r .skills-keyword {
  color: #2f4c7c;
  color: #f82249;
}


.marquee {
  background-color: #f82249;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.marquee p:hover{
  animation-play-state: paused;
}





@media (min-width: 300px) {
  .btn {
    min-width: 150px;
  }
}
@media (min-width: 768px) {
  .btn {
    min-width: 120px;
  }
}
@media (min-width: 300px) and (max-width: 768px) {
  .crx {
    padding-left: 0px;
  }
}



/*--------------------------*/
.section-header {
    padding-bottom: 15px;
}
.section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 4px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 30px);
    z-index: 1;
}
.section-header::after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 100px);
}


.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 150px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 75px);
}
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 4px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 29px);
}



/*======================= Articles Section CSS =======================*/
#articles .icon-box {
  width: 100%;
}





/* ================= CSS Media Query ================ */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}




/*=============== CSS for Mobile View ==================*/
/*Apply styles starting from medium devices and up to extra large devices*/
@media (min-width: 768px) and (max-width: 1299.98px) {
  #me-main-profile-pic {
    height: 230px;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  #me-main-profile-pic {
    width: 100%;
  }
}



/*=============== CSS for Lagre Monitor ==================*/
/*Apply styles starting from medium devices and up to extra large devices*/
@media (min-width: 1300px) and (max-width: 1599.98px) {
  #me-main-profile-pic {
    height: 300px;
  }
}




/*--------------------------------------------------------------
# Experience Section
--------------------------------------------------------------*/
#experience {
  padding: 60px 0 60px 0;
}

#experience .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}

#experience .nav-tabs li {
  display: inline-block;
  margin-bottom: 0;
}

#experience .nav-tabs a {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: #0e1b4d;
  color: #fff;
  padding: 10px 100px;
}

@media (max-width: 991px) {
  #experience .nav-tabs a {
    padding: 8px 60px;
  }
}

@media (max-width: 767px) {
  #experience .nav-tabs a {
    padding: 8px 50px;
  }
}

@media (max-width: 480px) {
  #experience .nav-tabs a {
    padding: 8px 30px;
  }
}

#experience .nav-tabs a.active {
  background-color: #f82249;
  color: #fff;
}

#experience .sub-heading {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto 30px auto;
}

@media (min-width: 991px) {
  #experience .sub-heading {
    width: 75%;
  }
}

#experience .tab-pane {
  transition: ease-in-out 0.2s;
}

#experience .schedule-item {
  border-bottom: 1px solid #cad4f6;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color ease-in-out 0.3s;
}

#experience .schedule-item:hover {
  background-color: #fff;
}

#experience .schedule-item time {
  padding-bottom: 5px;
  display: inline-block;
}

#experience .schedule-item .speaker {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 0 10px 10px 0;
}

#experience .schedule-item .speaker img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
}

#experience .schedule-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

#experience .schedule-item h4 span {
  font-style: italic;
  color: #19328e;
  font-weight: normal;
  font-size: 16px;
}

#experience .schedule-item p {
  font-style: italic;
  color: #152b79;
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/
#awards-and-achievements {
  padding: 60px 0;
}

#awards-and-achievements .container-fluid {
  margin-bottom: 3px;
}

#awards-and-achievements .venue-map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

#awards-and-achievements .venue-info {
  background: url("../img/venue-info-bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

#awards-and-achievements .venue-info:before {
  content: "";
  background: rgba(13, 20, 41, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#awards-and-achievements .venue-info h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 574px) {
  #awards-and-achievements .venue-info h3 {
    font-size: 24px;
  }
}

#awards-and-achievements .venue-info p {
  color: #fff;
  margin-bottom: 0;
}

#awards-and-achievements .venue-gallery-container {
  padding-right: 12px;
}

#awards-and-achievements .venue-gallery {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

#awards-and-achievements .venue-gallery img {
  transition: all ease-in-out 0.4s;
}

#awards-and-achievements .venue-gallery:hover img {
  transform: scale(1.1);
}